@font-face {
    font-family: Space Grotesk;
    src: url(SpaceGrotesk-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Space Grotesk;
}

body {
    padding: 35px;
    height: 91vh;
    background: linear-gradient(-45deg, #A30015, #BD2D87, #D664BE, #B191FF);
    background-size: 400% 400%;
    animation: gradient 10s ease-in-out infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#headingone {
    display: flex;
    background-color: #A30015;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 50px;
    border-radius: 35px;
    margin-bottom: 20px;
}

label {
    display: flex;
    font-size: 24px;
    row-gap: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

label input {
    padding: 20px 35px;
    border-radius: 14px;
    font-size: 20px;
    border: none;
    background-color: aquamarine;
    outline: none;
}

label input:hover {
    background-color: aqua;
}

#btn {
    text-align: center;
    padding: 20px 35px;
    border: none;
    border-radius: 15px;
    margin: 20px 0px 0px 770px;
    font-size: 20px;
    background-color: blueviolet;
}

#btn:hover {
    background-color: brown;
}

.first {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 50px 50px 0px 0px;
    position: relative;
    bottom: 0;
    margin: -15px;
}

.first #weatherIcon {
    width: 100px;
    height: 100px;
}

.first #temp_c {
    font-size: 50px;
    margin-left: -40px;
    font-weight: 700;
}

#text {
    color: #fff;
    width: 100%;
    text-align: center;
    position: fixed;
    left: 100px;
    font-size: 24px;
}

.second {
    display: flex;
    margin: 50px 0px 0px 800px;
    flex-direction: column;
    row-gap: 10px;
}

.second h3 {
    font-size: 24px;
    color: #fff;
}